@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import './assets/styles/Colors.scss' ;


body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: $secondary-color;
}


#root {
  max-width: 1280px;
  width: 100%;
}

a {
  text-decoration: none;
  color: $secondary-color;

  &:hover {
    text-decoration: underline;
  }
  
}